/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
/composer.lock
/.editorconfig
/.styleci.yml
/storage/oauth-private.key
/storage/oauth-public.key
/database/mysql-data/
/public/canonizer_api.json