{
				
    "openapi": "3.0.0",
    "info": {
        "title": "Canonizer API",
        "description": "This documentation is the canonizer version 3 API",
        "termsOfService": "http://canonizer.com/termsandservice",
        "contact": {
            "email": "support@canonizer.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.canonizer.com/api/v3/",
            "description": "Canonizer API"
        }
    ],
    "paths": {
        "/camp/allParent": {
            "post": {
                "tags": [
                    "Camp"
                ],
                "summary": "Get All Parent",
                "description": "This API is use for get all parent",
                "operationId": "allParent",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "Authorization"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request Body Json Parameter",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "topic_num": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status_code": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "topic_num": {
                                                        "type": "integer"
                                                    },
                                                    "parent_camp_num": {
                                                        "type": "integer"
                                                    },
                                                    "key_words": {
                                                        "type": "string"
                                                    },
                                                    "language": {
                                                        "type": "string"
                                                    },
                                                    "camp_num": {
                                                        "type": "integer"
                                                    },
                                                    "note": {
                                                        "type": "string"
                                                    },
                                                    "submit_time": {
                                                        "type": "integer"
                                                    },
                                                    "submitter_nick_id": {
                                                        "type": "integer"
                                                    },
                                                    "go_live_time": {
                                                        "type": "integer"
                                                    },
                                                    "objector_nick_id": {
                                                        "type": "string"
                                                    },
                                                    "object_time": {
                                                        "type": "integer"
                                                    },
                                                    "object_reason": {
                                                        "type": "string"
                                                    },
                                                    "proposed": {
                                                        "type": "string"
                                                    },
                                                    "replacement": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "camp_name": {
                                                        "type": "string"
                                                    },
                                                    "camp_about_url": {
                                                        "type": "string"
                                                    },
                                                    "camp_about_nick_id": {
                                                        "type": "integer"
                                                    },
                                                    "grace_period": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Something went wrong",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ExceptionRes"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Exception Throwable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ExceptionRes"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/camp/allAboutNickName": {
            "get": {
                "tags": [
                    "Camp"
                ],
                "summary": "API For Get all About Nick Name",
                "operationId": "9cbb4221de45d62757cdaee7071de833",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer {access-token}",
                        "required": true,
                        "schema": {
                            "type": "Authorization"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status_code": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": ""
                                                    },
                                                    "owner_code": {
                                                        "type": "string",
                                                        "example": ""
                                                    },
                                                    "nick_name": {
                                                        "type": "string",
                                                        "example": ""
                                                    },
                                                    "create_time": {
                                                        "type": "string",
                                                        "example": ""
                                                    },
                                                    "private": {
                                                        "type": "integer",
                                                        "example": ""
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Something went wrong",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ExceptionRes"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Exception Throwable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ExceptionRes"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forgotpassword/sendOtp": {
            "post": {
                "tags": [
                    "forgotpassword"
                ],
                "summary": "forgot password send Otp",
                "description": "This api used to forgot password send Otp",
                "operationId": "forgotPassword",
                "parameters": [
                    {
                        "name": "email",
                        "in": "body",
                        "description": "User Email Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "name": "status_code"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Exception occurs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "name": "status_code"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forgotpassword/verifyOtp": {
            "post": {
                "tags": [
                    "forgotpassword"
                ],
                "summary": "forgot password verify Otp",
                "description": "This api used to forgot password verify Otp",
                "operationId": "forgotPassword",
                "parameters": [
                    {
                        "name": "email",
                        "in": "body",
                        "description": "User Email Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "otp",
                        "in": "body",
                        "description": "User Otp",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "name": "status_code"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Exception occurs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "name": "status_code"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forgotpassword/update": {
            "post": {
                "tags": [
                    "forgotpassword"
                ],
                "summary": "forgot password update",
                "description": "This api used to forgot password update",
                "operationId": "forgotPasswordupdate",
                "parameters": [
                    {
                        "name": "username",
                        "in": "body",
                        "description": "User Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "new_password",
                        "in": "body",
                        "description": "User new password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "confirm_password",
                        "in": "body",
                        "description": "User confirm password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "name": "status_code"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Exception occurs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "name": "status_code"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/add-nick-name": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Add New nick name",
                "description": "",
                "operationId": "addNickName",
                "requestBody": {
                    "description": "Unique nickname required with max 50 characters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "nick_name": {
                                        "type": "string"
                                    },
                                    "visibility_status": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Something went wrong",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ExceptionRes"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/update-nick-name": {
            "post": {
                "tags": [
                    "nickname"
                ],
                "summary": "update nick name visibility status",
                "description": "",
                "operationId": "updatenickName",
                "requestBody": {
                    "description": "Unique nickname required with max 50 characters",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "visibility_status": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Something went wrong",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ExceptionRes"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Update successfully"
                    }
                }
            }
        },
        "/get-nick-name-list": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get list of all the nicknames",
                "description": "Get list of nicknames",
                "operationId": "getAllNickNames",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Something went wrong"
                    }
                }
            }
        },
        "/change-password": {
            "post": {
                "tags": [
                    "changepassword"
                ],
                "summary": "Update Password",
                "description": "This is used to update the user password.",
                "operationId": "changePassword",
                "parameters": [
                    {
                        "name": "current_password",
                        "in": "query",
                        "description": "The current password of logged in user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "new_password",
                        "in": "query",
                        "description": "The new password of logged in user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "confirm_password",
                        "in": "query",
                        "description": "The confirm password same as new password of logged in user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Password updated successfully"
                    },
                    "400": {
                        "description": "Error"
                    }
                }
            }
        },
        "/user/profile": {
            "get": {
                "tags": [
                    "profile"
                ],
                "summary": "Get looged in user profile",
                "description": "",
                "operationId": "userProfile",
                "responses": {
                    "200": {
                        "description": "success"
                    },
                    "404": {
                        "description": "Something went wrong"
                    }
                }
            }
        },
        "/get-direct-supported-camps": {
            "get": {
                "tags": [
                    "support"
                ],
                "summary": "Get list of all the direct supported camps",
                "description": "Get list of all the direct supported camps",
                "operationId": "directSupport",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Something went wrong"
                    }
                }
            }
        },
        "/get-delegate-supported-camps": {
            "get": {
                "tags": [
                    "support"
                ],
                "summary": "Get list of all the direct supported camps",
                "description": "Get list of all the direct supported camps",
                "operationId": "delegateSupport",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Something went wrong"
                    }
                }
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "Create user",
                "description": "This is used to register the user.",
                "operationId": "createUser",
                "requestBody": {
                    "description": "Created user object",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "first_name": {
                                        "description": "First Name of the User",
                                        "type": "string"
                                    },
                                    "middle_name": {
                                        "description": "Middle Name of the User",
                                        "type": "string"
                                    },
                                    "last_name": {
                                        "description": "Last Name of the User",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Email Id of the User",
                                        "type": "string"
                                    },
                                    "phone_number": {
                                        "description": "Phone Number of the User",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Password of the User",
                                        "type": "string"
                                    },
                                    "confirm_password": {
                                        "description": "Confirm password string",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success"
                    },
                    "400": {
                        "description": "Something went wrong"
                    },
                    "401": {
                        "description": "Unauthorised request"
                    }
                }
            }
        },
        "/user/login": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "Logs user into the system",
                "description": "",
                "operationId": "loginUser",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "description": "The user name for login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "The password for login in clear text",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {
                            "X-Rate-Limit": {
                                "description": "calls per hour allowed by the user",
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "X-Expires-After": {
                                "description": "date in UTC when token expires",
                                "schema": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid username/password"
                    }
                }
            }
        },
        "/user/logout": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "Logout the user",
                "description": "",
                "operationId": "logoutUser",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/user/{username}": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "Get user by user nick name",
                "description": "",
                "operationId": "getUserByName",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "The name that needs to be fetched. Use user1 for testing. ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid username supplied"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "user"
                ],
                "summary": "Updated user",
                "description": "This can only be done by the logged in user.",
                "operationId": "updateUser",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "name that need to be updated",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updated user object",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/User"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid user supplied"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "user"
                ],
                "summary": "Delete user",
                "description": "This can only be done by the logged in user.",
                "operationId": "deleteUser",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "The name that needs to be deleted",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Something went wrong",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ExceptionRes"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/verifyOtp": {
            "delete": {
                "tags": [
                    "postVerifyOtp"
                ],
                "summary": "post Verify Otp",
                "description": "This use to verify user Otp.",
                "operationId": "verifyOtp",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "The name that needs to be deleted",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Invalid username supplied"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/user/reSendOtp": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "User Resend Otp",
                "description": "This api used to Resend Otp",
                "operationId": "userReSend",
                "parameters": [
                    {
                        "name": "email",
                        "in": "body",
                        "description": "User Email Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "name": "status_code"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Exception occurs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "name": "status_code"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "NickName": {
                "title": "NickName Schema to return for API's",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "owner_code": {
                        "type": "string"
                    },
                    "nick_name": {
                        "type": "string"
                    },
                    "create_time": {
                        "type": "integer"
                    },
                    "private": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ExceptionRes": {
                "title": "Exception Response of the API's",
                "properties": {
                    "status_code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    },
                    "error": {
                        "type": "string"
                    },
                    "data": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User Schema to return for API's",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "middle_name": {
                        "type": "string"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "address_1": {
                        "type": "string"
                    },
                    "address_2": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string"
                    },
                    "mobile_carrier": {
                        "type": "string"
                    },
                    "mobile_verified": {
                        "type": "boolean"
                    },
                    "update_time": {
                        "type": "integer"
                    },
                    "join_time": {
                        "type": "integer"
                    },
                    "language": {
                        "type": "string"
                    },
                    "birthday": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "country_code": {
                        "type": "integer"
                    }
                },
                "type": "object"
            }
        }
    }
}